<img src="./images/{{ img }}">

<div class="book-info">
    <h2 class="title">{{ title }}</h2>
    <div class="author">{{ author }}</div>

    <div class="synopsis">
        {{#each synopsis}}
        <p>{{ para }}</p>
        {{/each}}
    </div>
</div>