<h2>{{ heading }}</h2>
<div class="books-list">
    {{#each books}}
        <div class="book">
            <span class="position">
                <span>{{ position }}</span>
            </span>

            {{> bookInfoPartial}}

        </div>
    {{/each}}
</div>